@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --title-color: #101828;
  }

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;      /*ou medida de 100% no body {} */
  background-color: rgba(236, 236, 236, 0.888);
}

.content {
  border-radius: 15px;
  background-color: #ffffff;
  width: 960px;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  background-color: #8E2424;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  left: 0;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-welcome {
  color: #ffffff;
}

.title-conta {
  color: var(--main-color);
}

.descricao {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.descricao-primary {
  color: #fff;
}

.descricao-second {
  color: #667085;;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color .3s;
}

.btn-primary:hover {
  background-color: #fff;
  color: var(--main-color);
}

.btn-second {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: background-color .3s;
}

.btn-second:hover {
  background-color: #fff;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.primeiro-conteudo {
  display: flex;
}

.primeiro-conteudo .segunda-coluna {
  z-index: 11;
}

.primeira-coluna {
  text-align: center;
  width: 40%;
  z-index: 10;
}

.segunda-coluna {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  margin: 1rem 0;
}

.list-social-media {
  display: flex;
}

.list-social-media li {
  list-style: none;
}

.item-social-media {
  border: 1px solid rgb(149, 165, 166);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #95a5a6;
}

.link-social-media:not(first-child) {
  margin-left: 10px;
}

.list-social-media .item-social-media {
  transition: background-color .3s;
}

.link-social-media:hover .item-social-media{
  background-color: var(--main-color);
  color: #fff;
  border-color: #8E2424;
}


.formulario {
  display: flex;
  flex-direction: column;
  width: 55%;
  text-align: center;
}

.formulario input {
  height: 40px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
 
}

input:-webkit-autofill {    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}

.icon-mod {
  color: rgb(149, 165, 166);
  padding: 0px 5px;
}


/*segundo conteúdo*/
.segundo-conteudo {
  position: absolute;
  display: flex;
}

.segundo-conteudo .segunda-coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.segundo-conteudo .primeira-coluna {
  order: 2;
  z-index: -1;
}

.segundo-conteudo .segunda-coluna {
  order: 1;
  z-index: -1;
}

.password {
  color: #667085;
  font-size: 15px;
}

.password::first-letter {
  text-transform: capitalize;
}

.sign-in-js .primeiro-conteudo .primeira-coluna {
  z-index: -1;
}

.sign-in-js .segundo-conteudo .segunda-coluna {
  z-index: 11;
}
.sign-in-js .segundo-conteudo .primeira-coluna {
  z-index: 13;
}

.sign-in-js .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1.3s; 
  z-index: 12;
}

.sign-up-js .content::before {
  animation: slideout 1.3s; 
  z-index: 12;
}

.sign-up-js .segundo-conteudo .primeira-coluna,
.sign-up-js .segundo-conteudo .segunda-coluna {
  z-index: -1;
}

.sign-up-js .primeiro-conteudo .segunda-coluna {
  z-index: 11;
}

.sign-up-js .primeiro-conteudo .primeira-coluna {
  z-index: 13;    
}

/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .primeiro-conteudo .segunda-coluna {

  z-index: -1;
  position: relative;
  animation: deslocamentoEsq 0.5s; 
}

.sign-up-js .segundo-conteudo .segunda-coluna {
  position: relative;
  z-index: -1;
  animation: deslocamentoDir 0.5s; 
}

/*-- animação CSS*/

@keyframes deslocamentoEsq {

  from {
      left: 0;
      opacity: 1;
      z-index: 12;
  }

  25% {
      left: -80px;
      opacity: .5;
      /* z-index: 12; NÃO HÁ NECESSIDADE */
  }

  50% {
      left: -100px;
      opacity: .2;
      /* z-index: 12; NÃO HÁ NECESSIDADE */
  }

  to {
      left: -110px;
      opacity: 0;
      z-index: -1;
  }
}


@keyframes deslocamentoDir {

  from {
      left: 0;
      z-index: 12;
  }

  25% {
      left: 80px;
  }

  50% {
      left: 100px;
      
  }

  to {
      left: 110px;
      z-index: -1;
  }
}


@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }
  
  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }

}

@keyframes slideout {

  from {
      left: 60%;
      width: 40%;
  }

  25% {
      left: 45%;
      width: 50%;
  }

  50% {
      left: 25%;
      width: 60%;
  }

  75% {
      left: 5%;
      width: 50%;
  }

  to {
      left: 0;
      width: 40%;
  }
}

/* responsividade */

@media screen and (max-width: 1050px) {
  .content {
      width: 100%;
      height: 100%;
  }

  .content::before {
      width: 100%;
      height: 38%;
      top: 0;
      border-radius: 0;
  }
  .primeiro-conteudo, .segundo-conteudo {
      flex-direction: column;
      justify-content: space-around;
  }

  .primeira-coluna, .segunda-coluna {
      width: 100%;
  }
  
  .sign-in-js .content::before {
      top: 62%;
      left: 0;
      border-radius: 0;

  }

  .formulario {
      width: 90%;
  }
  
  /* ANIMAÇÃO MOBILE CSS*/

  @keyframes deslocamentoEsq {

      from {
          top: 0;
          opacity: 1;
          z-index: 12;
      }
  
      25% {
          top: -80px;
          opacity: .5;
          /* z-index: 12; NÃO HÁ NECESSIDADE */
      }
  
      50% {
          top: -100px;
          opacity: .2;
          /* z-index: 12; NÃO HÁ NECESSIDADE */
      }
  
      to {
          top: -110px;
          opacity: 0;
          z-index: -1;
      }
  }
  
  
  @keyframes deslocamentoDir {
  
      from {
          top: 0;
          z-index: 12;
      }
  
      25% {
          top: 80px;
          /* z-index: 12;  NÃO HÁ NECESSIDADE*/
      }
  
      50% {
          top: 100px;
          /* z-index: 12; NÃO HÁ NECESSIDADE*/
          /* background-color: yellow;  Exemplo que dei no vídeo*/
      }
  
      to {
          top: 110px;
          z-index: -1;
      }
  }
  
  
  
  @keyframes slidein {
  
      from {
          top: 0;
          height: 40%;
      }
  
      25% {
          top: 5%;
          height: 50%;
      }
  
      50% {
          top: 25%;
          height: 60%;
      }
  
      75% {
          top: 45%;
          height: 50%;
      }
  
      to {
          top: 60%;
          height: 40%;
      }
  }
  
  @keyframes slideout {
  
      from {
          top: 60%;
          height: 40%;
      }
  
      25% {
          top: 45%;
          height: 50%;
      }
  
      50% {
          top: 25%;
          height: 60%;
      }
  
      75% {
          top: 5%;
          height: 50%;
      }
  
      to {
          top: 0;
          height: 40%;
      }
  }
 
}

@media screen and (max-width: 850px) {
  .formulario {
      width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .formulario {
      width: 100%;
  }
}

